
.navbar-inverse {
    background-color: #FFF;
    border-color: #FFF;
}
.navbar-inverse .navbar-nav>li>a {
    color: #337ab7;
}
.btn-warning {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.nav {
	padding-left: 30%;
	font-size: 16px;
}
.paris{
	color: #337ab7;
}

.textbot{
	padding-left: 10%;
	padding-right: 10%;
}

.textbot > h2 {
	color: #337ab7;
}

#logo{

	height: 40%;
	width: 40%;
	float: left;
}

#bot{

	height: 70%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;

}
